src/NFe.API/bin/
src/NFe.API/obj/
src/.vs/Function.LoadInvoces/DesignTimeBuild/.dtbcache.v2
src/.vs/Function.LoadInvoces/DesignTimeBuild/.dtbcache.v2
src/.vs/Function.LoadInvoces/DesignTimeBuild/.dtbcache.v2
src/.vs/Function.LoadInvoces/v17/.futdcache.v1
